<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Docker monitor</title>

  <link rel="stylesheet" href="../static/bootstrap.css">

</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><strong>Docker Monitor</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/system-info">  System <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/images"> Images </a></li>
            <li class="active"><a href="/containers"> Containers </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="jumbotron">
        <h1 class="page-header"> Container </h1>
          <div class="panel panel-primary center-block" style="width : 100 px">
              <div class="panel-heading panel-title lead">
                  General info
              </div>
              <div class="panel-body">
                  <p class="lead"><b>Id:</b> {{ id }}</p>
                  <p class="lead"><b>Name:</b>  {{ general.name }}</p>
                  <p class="lead"><b>Hostname:</b>  {{ general.hostname }}  </p>
                  <p class="lead"><b>IP:</b>  {{ general.ip }}  </p>
                  <p class="lead"><b>Created at:</b>  {{ general.created }} </p>
                  <p class="lead"><b>Started at:</b>  {{ general.started_at }} </p>
              </div>
          </div>

      <div class="panel panel-primary center-block" style="width : 100 px">
              <div class="panel-heading panel-title lead">
                  Processes
              </div>
              <div class="panel-body">
                  {% for process in processes %}
                  <p class="lead"><b>PID:</b>  {{ process.PID }}</p>
                  <p class="lead"><b>Command:</b>  {{ process.CMD }}  </p>
                  <p class="lead"><b>User:</b>  {{ process.USER }} </p>
                  <hr>
                  {% endfor %}
              </div>
      </div>

      <div class="panel panel-primary center-block" style="width : 100 px">
              <div class="panel-heading panel-title lead">
                  Memory stats
              </div>
              <div class="panel-body">
                  <p class="lead"><b>Usage:</b>  {{ memory.usage }}</p>
                  <p class="lead"><b>Max usage:</b>  {{ memory.max_usage }}  </p>
                  <p class="lead"><b>Limit:</b>  {{ memory.limit }} </p>
                  <p class="lead"><b>Mapped files:</b>  {{ memory.stats.mapped_file }} </p>
                  <p class="lead"><b>Total Cache:</b>  {{ memory.stats.total_cache }} </p>
                  <p class="lead"><b>Total RSS:</b>  {{ memory.stats.total_rss }} </p>
                  <p class="lead"><b>Total page faults:</b>  {{ memory.stats.total_pgfault }} </p>
                  <p class="lead"><b>Total active anonymous memory:</b>  {{ memory.stats.total_active_anon }} </p>
                  <p class="lead"><b>Total inactive anonymous memory:</b>  {{ memory.stats.total_inactive_anon }} </p>
                  <p class="lead"><b>Total unevictable memory:</b>  {{ memory.stats.total_unevictable }} </p>
              </div>
          </div>

          <div class="panel panel-primary center-block" style="width : 100 px">
            <div class="panel-heading panel-title lead">
                Block I/O stats
            </div>
            <div class="panel-body">
                <!--p class="lead"><b>Sectors:</b>  {{ blkio.sectors }} </p-->
                <p class="lead"><b>Bytes read/written:</b>  {{ blkio.serviced_total_b }}  ( read: {{ blkio.serviced_read_b }} | written: {{ blkio.serviced_write_b }}) </p>
                <p class="lead"><b>I/O operations performed:</b>  {{ blkio.serviced_total }} ( reads: {{ blkio.serviced_read }} | writes: {{ blkio.serviced_write }} | sync: {{ blkio.serviced_sync }} | async: {{ blkio.serviced_async }})</p>
                <!--p class="lead"><b>I/O operations queued:</b>  {{ blkio.io_queued }} </p-->
          
            </div>
        </div>
    

        <div class="panel panel-primary center-block" style="width : 100 px">
            <div class="panel-heading panel-title lead">
                CPU stats
            </div>
            <div class="panel-body">
                <p class="lead"><b>Per CPU usage:</b>  {% for cpu in cpu.cpu_usage.percpu_usage %} {{cpu}}({{loop.index}}) <br/> {%endfor%} </p>
                <p class="lead"><b>Usage in usermode:</b>  {{ cpu.cpu_usage.usage_in_usermode }}  </p>
                <p class="lead"><b>Usage in kernelmode:</b>  {{ cpu.cpu_usage.usage_in_kernelmode }} </p>
                <p class="lead"><b>Total usage:</b>  {{ cpu.cpu_usage.total_usage }} </p>
                <p class="lead"><b>System CPU usage:</b>  {{ cpu.system_cpu_usage }} </p>
            </div>
        </div>

        <div class="panel panel-primary center-block" style="width : 100 px">
            <div class="panel-heading panel-title lead">
                Network stats
            </div>
            <div class="panel-body">
                <p class="lead"><b>RX bytes:</b>  {{ network.rx_bytes }}</p>
                <p class="lead"><b>RX packets:</b>  {{ network.rx_packets }}  </p>
                <p class="lead"><b>RX errors:</b>  {{ network.rx_errors }} </p>
                <p class="lead"><b>RX dropped:</b>  {{ network.rx_dropped }} </p>
                <p class="lead"><b>TX bytes:</b>  {{ network.tx_bytes }}</p>
                <p class="lead"><b>TX packets:</b>  {{ network.tx_packets }}  </p>
                <p class="lead"><b>TX errors:</b>  {{ network.tx_errors }} </p>
                <p class="lead"><b>TX dropped:</b>  {{ network.tx_dropped }} </p>
            </div>
        </div>


    </div>
</div>

      
  <!--script src="js/scripts.js"></script-->
</body>
</html>