<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Docker monitor</title>

  <link rel="stylesheet" href="../static/bootstrap.css">

</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><strong>Docker Monitor</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/system-info">  System <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/images"> Images </a></li>
            <li class="active"><a href="/containers"> Containers </a></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="container-fluid">
    <div class="jumbotron">
    <h1 class="page-header"> Docker </h1>
      <p>It is a platform for developers and sysadmins to develop, ship, and run applications. Docker lets you quickly assemble applications from components and eliminates the friction that can come when shipping code. Docker lets you get your code tested and deployed into production as fast as possible.</p>
      <p><a  href="https://docs.docker.com/" class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
    <hr>
    <div class="jumbotron">
    <h1 class="page-header"> Runtime metrics </h1>
      <p>Linux Containers rely on control groups which not only track groups of processes, but also expose metrics about CPU, memory, and block I/O usage. You can access those metrics and obtain network usage metrics as well. This is relevant for "pure" LXC containers, as well as for Docker containers.</p>
      <p><a  href="https://docs.docker.com/articles/runmetrics/" class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
</body>
</html>