<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Docker monitor</title>

  <link rel="stylesheet" href="../static/bootstrap.css">

</head>

<body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index"><strong>Docker Monitor</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/system-info">  System <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="/images"> Images </a></li>
            <li class="active"><a href="/containers"> Containers </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <h2 class="page-header">System</h2>
        <div class="jumbotron">
            <div class="panel panel-primary center-block">
                <div class="panel-heading">
                    System-wide info
                </div>
                <div class="panel-body">
                    <p class="lead"><b>Operating system:</b>  {{ info.os }}</p>
                    <p class="lead"><b>Kernel version:</b>  {{ info.kernel }}  </p>
                    <p class="lead"><b>Driver:</b>  {{ info.driver }} </p>
                    <p class="lead"><b>Images:</b>  {{ info.images }} </p>
                    <p class="lead"><b>Containers:</b>  {{ info.containers }} </p>
                    <p class="lead"><b>Total memory:</b>  {{ info.mem }} </p>
                    <p class="lead"><b>Number of CPUs:</b>  {{ info.ncpu }} </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
